---
import '../styles/global.css'
import '../styles/404.css'
---

<html lang='en'>
<head>
	<meta charset='utf-8' />
	<meta name='viewport' content='width=device-width, initial-scale=1' />

	<link rel='preconnect' href='https://fonts.googleapis.com' />
	<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
	<link href='https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap' rel='stylesheet' />

	<title>Not Found</title>
	<link rel='icon' href='logos/pfp.png' />
</head>
<body>
	<main>
		<h1>404: Page Not Found</h1>
		
		<img
			src='/404.gif'
			alt='You wandered far away from this universe'
		/>

		<p>
			<a href='/'>Home</a>
		</p>
	</main>
</body>
</html>