---
import { Image } from 'astro:assets';
let width = 400, height = 400;
---

<div class="player_gallery_wrapper">
    <div class="player_container"> 
        <Image loading={'eager'} class="mt_player" src="/media/at_players.avif" alt="smk with Adventure Time Players" width={width} height={height} />
        <p class="player_caption">Adventure Time Players</p>
    </div>
    <div class="player_container"> 
        <Image loading={'eager'} class="mt_player" src="/media/prismo_players.avif" alt="smk with Prismo Players" width={width} height={height}/>
        <p class="player_caption">Prismo Players</p>
    </div>
</div>	